In [18]:
import pandas as pd
import os

# --- CORREÇÃO AQUI ---
# Caminho absoluto com o nome do arquivo corrigido (MICRODADOS)
# Note que trocamos as barras \ por /
nome_do_arquivo = '../dados_brutos/MICRODADOS_ENEM_2023.csv'


# --- DEBUG ---
print(f"O Python está rodando a partir de: {os.getcwd()}")
print(f"Tentando carregar o caminho absoluto: '{nome_do_arquivo}'...")
# -------------


try:
    # Tenta carregar a amostra
    df_amostra = pd.read_csv(
        nome_do_arquivo, 
        encoding='latin-1', 
        sep=';', 
        nrows=100
    )

    # Se deu certo, mostra as 10 primeiras linhas
    print("\n--- SUCESSO! ---")
    print("Amostra (10 primeiras linhas):")
    display(df_amostra.head(10)) 

    # Imprime a lista de TODAS as colunas
    print("\n--- Lista completa de colunas encontradas: ---")
    print(df_amostra.columns.to_list())

except FileNotFoundError:
    print(f"\nERRO: Arquivo não encontrado!")
    print(f"O caminho '{nome_do_arquivo}' ainda está incorreto.")
    print("Por favor, verifique se o nome do arquivo e das pastas estão idênticos, incluindo maiúsculas/minúsculas.")
except Exception as e:
    print(f"\nERRO ao tentar ler o arquivo: {e}")

O Python está rodando a partir de: c:\Users\Weillon Mota\Documents\Microdados ENEM\Projeto DW
Tentando carregar o caminho absoluto: '../dados_brutos/MICRODADOS_ENEM_2023.csv'...

--- SUCESSO! ---
Amostra (10 primeiras linhas):

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210059085136,2023,14,M,2,1,1,1,17,1,...,C,C,B,B,A,B,B,A,A,B
1,210059527735,2023,12,M,2,1,0,1,16,1,...,B,A,B,B,A,A,C,A,D,B
2,210061103945,2023,6,F,1,1,1,1,0,1,...,B,A,A,B,A,A,A,A,A,B
3,210060214087,2023,2,F,1,3,1,2,0,2,...,A,A,A,B,A,A,D,A,A,B
4,210059980948,2023,3,F,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,A,A
5,210058061539,2023,6,F,1,3,1,1,0,1,...,B,A,A,B,A,A,C,A,A,B
6,210059855122,2023,11,F,1,3,1,1,12,1,...,B,A,A,B,A,B,B,A,A,B
7,210058387333,2023,11,M,1,3,1,1,12,1,...,B,A,A,A,A,A,B,A,B,B
8,210059085137,2023,5,F,1,2,1,1,1,1,...,B,A,A,B,A,A,C,A,A,B
9,210060801601,2023,11,M,1,1,1,1,8,1,...,B,A,B,C,B,A,C,A,B,B

--- Lista completa de colunas encontradas: ---
['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025']

In [25]:
import pandas as pd
import time # Para cronometrar o tempo de carga

# Vamos usar a variável 'nome_do_arquivo' da Célula 1
# nome_do_arquivo = '../dados_brutos/MICRODADOS_ENEM_2023.csv' 

# --- 1. DEFINIÇÃO DAS COLUNAS (COM OS NOMES CORRIGIDOS) ---
colunas_para_carregar = [
    'NU_INSCRICAO',
    'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO',
    'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'TP_STATUS_REDACAO',
    
    # --- COLUNAS DE LOCALIZAÇÃO CORRIGIDAS ---
    # Usando local da PROVA como substituto para local de RESIDÊNCIA
    'NO_MUNICIPIO_PROVA',  # <-- MUDANÇA (antes: NO_MUNICIPIO_RESIDENCIA)
    'SG_UF_PROVA',         # <-- MUDANÇA (antes: SG_UF_RESIDENCIA)
    
    # A coluna 'TP_LOCALIZACAO_RESIDENCIA' não existe e foi REMOVIDA
    
    'TP_SEXO', 'TP_FAIXA_ETARIA', 'TP_COR_RACA',
    'TP_ESCOLA', 'Q006'
]

print(f"Definidas {len(colunas_para_carregar)} colunas para carregar.")
print(f"Iniciando a carga do arquivo: '{nome_do_arquivo}'...")
print("(Isso pode levar alguns minutos...)")

# Medindo o tempo
start_time = time.time()

try:
    # --- 2. CARGA OTIMIZADA ---
    df_enem_completo = pd.read_csv(
        nome_do_arquivo, 
        encoding='latin-1', 
        sep=';',
        usecols=colunas_para_carregar # Usando a lista corrigida
    )
    
    end_time = time.time()
    
    print(f"\n--- SUCESSO! ---")
    print(f"Arquivo completo carregado em {end_time - start_time:.2f} segundos.")
    print("DataFrame 'df_enem_completo' está pronto.")
    
    # --- 3. MOSTRAR OS DADOS ---
    print("\n--- Amostra (5 primeiras linhas dos dados carregados): ---")
    display(df_enem_completo.head())
    
    print("\n--- Informações (Tipos de dados e valores nulos): ---")
    df_enem_completo.info()

except Exception as e:
    print(f"\n--- ERRO DURANTE A CARGA ---")
    print(f"Erro: {e}")
    print("Se o erro persistir, verifique os nomes da lista 'colunas_para_carregar' novamente.")

Definidas 18 colunas para carregar.
Iniciando a carga do arquivo: 'C:/Users/Weillon Mota/Documents/Microdados ENEM/dados_brutos/MICRODADOS_ENEM_2023.csv'...
(Isso pode levar alguns minutos...)

--- SUCESSO! ---
Arquivo completo carregado em 23.64 segundos.
DataFrame 'df_enem_completo' está pronto.

--- Amostra (5 primeiras linhas dos dados carregados): ---

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_COR_RACA,TP_ESCOLA,NO_MUNICIPIO_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_STATUS_REDACAO,NU_NOTA_REDACAO,Q006
0,210059085136,14,M,1,1,Brasília,DF,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,F
1,210059527735,12,M,1,1,Brasília,DF,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,H
2,210061103945,6,F,1,1,Caxias do Sul,RS,1,1,1,1,502.0,498.9,475.6,363.2,1.0,700.0,C
3,210060214087,2,F,3,2,Fortaleza,CE,1,1,1,1,459.0,508.5,507.2,466.7,1.0,880.0,C
4,210059980948,3,F,3,2,Quixadá,CE,1,1,1,1,402.5,379.2,446.9,338.3,1.0,560.0,B

--- Informações (Tipos de dados e valores nulos): ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933955 entries, 0 to 3933954
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   NU_INSCRICAO        int64
 1   TP_FAIXA_ETARIA     int64
 2   TP_SEXO             object
 3   TP_COR_RACA         int64
 4   TP_ESCOLA           int64
 5   NO_MUNICIPIO_PROVA  object
 6   SG_UF_PROVA         object
 7   TP_PRESENCA_CN      int64
 8   TP_PRESENCA_CH      int64
 9   TP_PRESENCA_LC      int64
 10  TP_PRESENCA_MT      int64
 11  NU_NOTA_CN          float64
 12  NU_NOTA_CH          float64
 13  NU_NOTA_LC          float64
 14  NU_NOTA_MT          float64
 15  TP_STATUS_REDACAO   float64
 16  NU_NOTA_REDACAO     float64
 17  Q006                object
dtypes: float64(6), int64(8), object(4)
memory usage: 540.2+ MB

In [26]:
# --- CÉLULA 4: Limpeza e Transformação (Filtrando Presentes) ---

print("Iniciando a limpeza dos dados...")

# Verificação inicial
if 'df_enem_completo' not in locals():
    print("ERRO: 'df_enem_completo' não foi encontrado.")
    print("Por favor, rode a Célula 3 (carga dos dados) primeiro.")
else:
    print(f"Total de inscritos (linhas) no DataFrame original: {len(df_enem_completo)}")

    # 1. Filtrando quem estava PRESENTE em todas as provas
    #    (TP_PRESENCA == 1 significa 'Presente')
    filtro_presenca = (
        (df_enem_completo['TP_PRESENCA_CN'] == 1) &
        (df_enem_completo['TP_PRESENCA_CH'] == 1) &
        (df_enem_completo['TP_PRESENCA_LC'] == 1) &
        (df_enem_completo['TP_PRESENCA_MT'] == 1)
    )

    # 2. Filtrando quem teve a REDAÇÃO VÁLIDA (Status 1 = "Sem Problemas")
    #    Isso elimina notas zero por fuga ao tema, cópia, etc.
    filtro_redacao = (df_enem_completo['TP_STATUS_REDACAO'] == 1)

    # 3. Criando o novo DataFrame LIMPO
    #    Usamos .copy() para evitar avisos de SettingWithCopyWarning no futuro
    df_enem_presentes = df_enem_completo[filtro_presenca & filtro_redacao].copy()

    # 4. Verificando o resultado (Respondendo à Pergunta 11)
    total_inscritos = len(df_enem_completo)
    total_presentes = len(df_enem_presentes)
    total_ausentes_ou_eliminados = total_inscritos - total_presentes
    
    print(f"\n--- Resposta à Pergunta 11 ---")
    print(f"Total de alunos PRESENTES e com redação válida: {total_presentes}")
    print(f"Total de alunos AUSENTES ou eliminados: {total_ausentes_ou_eliminados}")

    print("\n--- Amostra do DataFrame limpo (df_enem_presentes.head()): ---")
    # Note que agora não devem mais existir 'NaN' nas notas
    display(df_enem_presentes.head())

    print("\n--- Verificando valores nulos nas notas (DEPOIS da limpeza): ---")
    # Idealmente, o resultado aqui será '0' para todas as notas,
    # pois filtramos apenas quem estava presente.
    print(df_enem_presentes[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']].isnull().sum())

Iniciando a limpeza dos dados...
Total de inscritos (linhas) no DataFrame original: 3933955

--- Resposta à Pergunta 11 ---
Total de alunos PRESENTES e com redação válida: 2585115
Total de alunos AUSENTES ou eliminados: 1348840

--- Amostra do DataFrame limpo (df_enem_presentes.head()): ---

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_COR_RACA,TP_ESCOLA,NO_MUNICIPIO_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_STATUS_REDACAO,NU_NOTA_REDACAO,Q006
2,210061103945,6,F,1,1,Caxias do Sul,RS,1,1,1,1,502.0,498.9,475.6,363.2,1.0,700.0,C
3,210060214087,2,F,3,2,Fortaleza,CE,1,1,1,1,459.0,508.5,507.2,466.7,1.0,880.0,C
4,210059980948,3,F,3,2,Quixadá,CE,1,1,1,1,402.5,379.2,446.9,338.3,1.0,560.0,B
9,210060801601,11,M,1,1,Batatais,SP,1,1,1,1,564.7,630.3,610.4,680.2,1.0,600.0,F
10,210059085130,8,M,3,1,Natal,RN,1,1,1,1,644.9,620.2,626.9,736.3,1.0,860.0,B

--- Verificando valores nulos nas notas (DEPOIS da limpeza): ---
NU_NOTA_CN         0
NU_NOTA_CH         0
NU_NOTA_LC         0
NU_NOTA_MT         0
NU_NOTA_REDACAO    0
dtype: int64

In [27]:
# --- CÉLULA 5: Transformação (Enriquecimento Geográfico) ---

print("Iniciando a Etapa de Transformação (T)...")
print("Criando colunas 'NO_REGIAO' (Pergunta 1) e 'TP_CAPITAL' (Pergunta 8).")

# 1. Dicionário de Mapeamento de Estados (UF) para Regiões
#    (Chave = UF, Valor = Região)
mapa_regioes = {
    'AC': 'Norte', 'AP': 'Norte', 'AM': 'Norte', 'PA': 'Norte', 'RO': 'Norte', 'RR': 'Norte', 'TO': 'Norte',
    'AL': 'Nordeste', 'BA': 'Nordeste', 'CE': 'Nordeste', 'MA': 'Nordeste', 'PB': 'Nordeste', 'PE': 'Nordeste', 'PI': 'Nordeste', 'RN': 'Nordeste', 'SE': 'Nordeste',
    'DF': 'Centro-Oeste', 'GO': 'Centro-Oeste', 'MT': 'Centro-Oeste', 'MS': 'Centro-Oeste',
    'ES': 'Sudeste', 'MG': 'Sudeste', 'RJ': 'Sudeste', 'SP': 'Sudeste',
    'PR': 'Sul', 'RS': 'Sul', 'SC': 'Sul'
}

# 2. Lista de Capitais Brasileiras (para Pergunta 8)
#    Atenção aos acentos! Eles devem bater com os dados.
lista_capitais = [
    'Rio Branco', 'Maceió', 'Macapá', 'Manaus', 'Salvador', 'Fortaleza', 'Brasília', 'Vitória', 'Goiânia', 
    'São Luís', 'Cuiabá', 'Campo Grande', 'Belo Horizonte', 'Belém', 'João Pessoa', 'Curitiba', 'Recife', 
    'Teresina', 'Rio de Janeiro', 'Natal', 'Porto Alegre', 'Porto Velho', 'Boa Vista', 'Florianópolis', 
    'São Paulo', 'Aracaju', 'Palmas'
]

try:
    # --- Criando a coluna NO_REGIAO (Pergunta 1) ---
    # Usamos .map() para "traduzir" a UF para Região
    df_enem_presentes['NO_REGIAO'] = df_enem_presentes['SG_UF_PROVA'].map(mapa_regioes)
    
    # --- Criando a coluna TP_CAPITAL (Pergunta 8) ---
    # Usamos .apply() e uma função lambda para verificar se o município está na lista
    df_enem_presentes['TP_CAPITAL'] = df_enem_presentes['NO_MUNICIPIO_PROVA'].apply(
        lambda municipio: 'Capital' if municipio in lista_capitais else 'Interior'
    )

    print("\n--- SUCESSO! Colunas 'NO_REGIAO' e 'TP_CAPITAL' criadas. ---")
    
    # --- Verificação ---
    print("\nAmostra dos dados com as novas colunas:")
    # Mostra as colunas que usamos e as que criamos
    display(df_enem_presentes[['SG_UF_PROVA', 'NO_REGIAO', 'NO_MUNICIPIO_PROVA', 'TP_CAPITAL']].head())
    
    print("\nContagem de alunos por Região (verificando 'NO_REGIAO'):")
    print(df_enem_presentes['NO_REGIAO'].value_counts())
    
    print("\nContagem de alunos por Capital/Interior (verificando 'TP_CAPITAL'):")
    print(df_enem_presentes['TP_CAPITAL'].value_counts())

except Exception as e:
    print(f"\nERRO ao tentar criar as colunas de localização: {e}")
    print("Verifique se o DataFrame 'df_enem_presentes' existe.")

Iniciando a Etapa de Transformação (T)...
Criando colunas 'NO_REGIAO' (Pergunta 1) e 'TP_CAPITAL' (Pergunta 8).

--- SUCESSO! Colunas 'NO_REGIAO' e 'TP_CAPITAL' criadas. ---

Amostra dos dados com as novas colunas:

   SG_UF_PROVA NO_REGIAO NO_MUNICIPIO_PROVA TP_CAPITAL
2           RS       Sul      Caxias do Sul   Interior
3           CE  Nordeste          Fortaleza    Capital
4           CE  Nordeste            Quixadá   Interior
9           SP   Sudeste           Batatais   Interior
10          RN  Nordeste              Natal    Capital

Contagem de alunos por Região (verificando 'NO_REGIAO'):
NO_REGIAO
Nordeste        948078
Sudeste         872372
Sul             281242
Norte           271389
Centro-Oeste    212034
Name: count, dtype: int64

Contagem de alunos por Capital/Interior (verificando 'TP_CAPITAL'):
TP_CAPITAL
Interior    1837010
Capital      748105
Name: count, dtype: int64

In [28]:
# --- CÉLULA 6: Checkpoint (Salvando DataFrame Limpo) ---

print("Iniciando o salvamento do DataFrame 'df_enem_presentes'...")
print("Isso cria um checkpoint permanente do nosso trabalho de ETL.")

# O arquivo será salvo na mesma pasta onde o seu notebook está rodando.
# (No seu caso: ...\Projeto DW\enem_2023_presentes.parquet)
nome_arquivo_checkpoint = 'enem_2023_presentes.parquet'

try:
    # Tentando salvar em formato Parquet
    df_enem_presentes.to_parquet(nome_arquivo_checkpoint, index=False)
    
    print(f"\n--- SUCESSO! ---")
    print(f"DataFrame salvo com sucesso no arquivo: '{nome_arquivo_checkpoint}'")
    print("\nSe o seu notebook travar, você pode pular as células 1-5")
    print(f"e carregar este arquivo limpo com: pd.read_parquet('{nome_arquivo_checkpoint}')")

except ImportError:
    print("\n--- ERRO: Biblioteca 'pyarrow' não encontrada ---")
    print("O formato Parquet precisa de uma biblioteca auxiliar.")
    print("Por favor, rode o comando abaixo em uma nova célula e tente novamente:")
    print("!pip install pyarrow")
except Exception as e:
    print(f"\n--- ERRO ao tentar salvar o arquivo ---")
    print(f"Erro: {e}")

Iniciando o salvamento do DataFrame 'df_enem_presentes'...
Isso cria um checkpoint permanente do nosso trabalho de ETL.

--- SUCESSO! ---
DataFrame salvo com sucesso no arquivo: 'enem_2023_presentes.parquet'

Se o seu notebook travar, você pode pular as células 1-5
e carregar este arquivo limpo com: pd.read_parquet('enem_2023_presentes.parquet')

In [29]:
# --- CÉLULA 7: Modelagem do Star Schema - dim_localizacao ---

print("Iniciando a modelagem do Star Schema...")
print("Criando a 'dim_localizacao' (Dimensão ONDE)...")

# 1. Selecionar as colunas relevantes
colunas_localizacao = [
    'NO_MUNICIPIO_PROVA', 
    'SG_UF_PROVA', 
    'NO_REGIAO', 
    'TP_CAPITAL'
]
dim_localizacao = df_enem_presentes[colunas_localizacao]

# 2. Remover duplicatas
print(f"Linhas antes de remover duplicatas: {len(dim_localizacao)}")
dim_localizacao = dim_localizacao.drop_duplicates().reset_index(drop=True)
print(f"Linhas após remover duplicatas (total de locais únicos): {len(dim_localizacao)}")

# 3. Criar a Chave Primária (ID_Local)
#    Vamos usar o índice (que agora vai de 0 até N-1)
#    É uma boa prática começar IDs de 1 (e não 0)
dim_localizacao['ID_Local'] = dim_localizacao.index + 1

# 4. Reorganizar as colunas (colocando a chave primária na frente)
colunas_finais = [
    'ID_Local', 
    'NO_MUNICIPIO_PROVA', 
    'SG_UF_PROVA', 
    'NO_REGIAO', 
    'TP_CAPITAL'
]
dim_localizacao = dim_localizacao[colunas_finais]

print("\n--- SUCESSO! 'dim_localizacao' criada. ---")
print("Amostra da Tabela de Dimensão 'dim_localizacao':")
display(dim_localizacao.head())

print("\nInformações da 'dim_localizacao':")
dim_localizacao.info()

Iniciando a modelagem do Star Schema...
Criando a 'dim_localizacao' (Dimensão ONDE)...
Linhas antes de remover duplicatas: 2585115
Linhas após remover duplicatas (total de locais únicos): 1750

--- SUCESSO! 'dim_localizacao' criada. ---
Amostra da Tabela de Dimensão 'dim_localizacao':

   ID_Local NO_MUNICIPIO_PROVA SG_UF_PROVA NO_REGIAO TP_CAPITAL
0         1      Caxias do Sul          RS       Sul   Interior
1         2          Fortaleza          CE  Nordeste    Capital
2         3            Quixadá          CE  Nordeste   Interior
3         4           Batatais          SP   Sudeste   Interior
4         5              Natal          RN  Nordeste    Capital

Informações da 'dim_localizacao':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1750 entries, 0 to 1749
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_Local            1750 non-null   int64
 1   NO_MUNICIPIO_PROVA  1750 non-null   object
 2   SG_UF_PROVA         1750 non-null   object
 3   NO_REGIAO           1750 non-null   object
 4   TP_CAPITAL          1750 non-null   object
dtypes: int64(1), object(4)
memory usage: 68.5+ KB

### Modelagem do Data Warehouse (Star Schema)

Abaixo está o diagrama do nosso Star Schema. Estamos usando:
- **`dim_aluno`** (QUEM)
- **`dim_localizacao`** (ONDE)
- **`fato_notas`** (O QUÊ)

![Nosso Star Schema do ENEM](schema_enem.png)

In [30]:
# --- CÉLULA 8: Modelagem do Star Schema - dim_aluno ---

print("Continuando a modelagem...")
print("Criando a 'dim_aluno' (Dimensão QUEM)...")

try:
    # 1. Selecionar as colunas do aluno
    colunas_aluno = [
        'NU_INSCRICAO',
        'TP_SEXO', 
        'TP_FAIXA_ETARIA', 
        'TP_COR_RACA', 
        'TP_ESCOLA', 
        'Q006'
    ]
    # Usamos .copy() para garantir que estamos criando um novo DataFrame
    dim_aluno = df_enem_presentes[colunas_aluno].copy()

    # 2. Resetar o índice (para garantir que ele seja de 0 a N-1)
    dim_aluno = dim_aluno.reset_index(drop=True)

    # 3. Criar a Chave Primária Surrogada (ID_Aluno)
    #    (Começando de 1)
    dim_aluno['ID_Aluno'] = dim_aluno.index + 1

    # 4. Renomear a Chave Natural (NU_INSCRICAO) para clareza
    #    'NK' = Natural Key (Chave do negócio)
    dim_aluno = dim_aluno.rename(columns={'NU_INSCRICAO': 'NK_Inscricao'})

    # 5. Reorganizar as colunas (colocando a chave primária na frente)
    colunas_finais_aluno = [
        'ID_Aluno',         # Chave Primária (Surrogada)
        'NK_Inscricao',     # Chave Natural (Business Key)
        'TP_SEXO', 
        'TP_FAIXA_ETARIA', 
        'TP_COR_RACA', 
        'TP_ESCOLA', 
        'Q006'
    ]
    dim_aluno = dim_aluno[colunas_finais_aluno]

    print(f"\n--- SUCESSO! 'dim_aluno' criada. ---")
    print(f"Total de alunos na dimensão: {len(dim_aluno)}")
    print("Amostra da Tabela de Dimensão 'dim_aluno':")
    display(dim_aluno.head())

    print("\nInformações da 'dim_aluno':")
    dim_aluno.info()

except Exception as e:
    print(f"\n--- ERRO ao criar a dim_aluno ---")
    print(f"Erro: {e}")
    print("Verifique se o DataFrame 'df_enem_presentes' existe.")

Continuando a modelagem...
Criando a 'dim_aluno' (Dimensão QUEM)...

--- SUCESSO! 'dim_aluno' criada. ---
Total de alunos na dimensão: 2585115
Amostra da Tabela de Dimensão 'dim_aluno':

,ID_Aluno,NK_Inscricao,TP_SEXO,TP_FAIXA_ETARIA,TP_COR_RACA,TP_ESCOLA,Q006
0,1,210061103945,F,6,1,1,C
1,2,210060214087,F,2,3,2,C
2,3,210059980948,F,3,3,2,B
3,4,210060801601,M,11,1,1,F
4,5,210059085130,M,8,3,1,B

Informações da 'dim_aluno':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2585115 entries, 0 to 2585114
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   ID_Aluno         int64
 1   NK_Inscricao     int64
 2   TP_SEXO          object
 3   TP_FAIXA_ETARIA  int64
 4   TP_COR_RACA      int64
 5   TP_ESCOLA        int64
 6   Q006             object
dtypes: int64(5), object(2)
memory usage: 138.1+ MB

In [31]:
# --- CÉLULA 9: Modelagem do Star Schema - fato_notas ---

print("Modelagem final: Criando a 'fato_notas' (Centro da Estrela)...")
print("(Este passo pode demorar alguns minutos, pois está juntando as tabelas)")

try:
    # 1. Começar com o DataFrame principal (que tem as notas e as chaves naturais)
    fato_notas = df_enem_presentes.copy()

    # --- Juntando as Chaves Estrangeiras (FKs) ---

    # 2. Trazer a FK 'ID_Aluno' da 'dim_aluno'
    #    Vamos juntar 'fato_notas' com 'dim_aluno'
    #    usando a chave natural 'NU_INSCRICAO' / 'NK_Inscricao'
    fato_notas = pd.merge(
        fato_notas, 
        dim_aluno[['NK_Inscricao', 'ID_Aluno']],
        left_on='NU_INSCRICAO',
        right_on='NK_Inscricao',
        how='left' # 'left' join para garantir que não perdemos nenhum aluno
    )

    # 3. Trazer a FK 'ID_Local' da 'dim_localizacao'
    #    Vamos juntar 'fato_notas' com 'dim_localizacao'
    #    usando as colunas de localização
    colunas_join_local = ['NO_MUNICIPIO_PROVA', 'SG_UF_PROVA', 'NO_REGIAO', 'TP_CAPITAL']
    fato_notas = pd.merge(
        fato_notas,
        dim_localizacao[['ID_Local'] + colunas_join_local],
        on=colunas_join_local,
        how='left' # 'left' join
    )

    print("Join das chaves estrangeiras concluído.")

    # --- Limpeza Final ---

    # 4. Selecionar APENAS as Fatos e as Chaves Estrangeiras (FKs)
    colunas_fato = [
        'ID_Aluno',     # FK para dim_aluno
        'ID_Local',     # FK para dim_localizacao
        'NU_NOTA_CN',   # Fato
        'NU_NOTA_CH',   # Fato
        'NU_NOTA_LC',   # Fato
        'NU_NOTA_MT',   # Fato
        'NU_NOTA_REDACAO' # Fato
    ]
    fato_notas = fato_notas[colunas_fato]

    # 5. Criar a Chave Primária (PK) da Tabela Fato
    fato_notas = fato_notas.reset_index(drop=True)
    fato_notas['ID_Fato'] = fato_notas.index + 1

    # 6. Reorganizar para o padrão (PK primeiro)
    fato_notas = fato_notas[['ID_Fato', 'ID_Aluno', 'ID_Local', 'NU_NOTA_CN', 
                             'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']]

    print(f"\n--- SUCESSO! 'fato_notas' criada. ---")
    print(f"Total de fatos (notas de alunos): {len(fato_notas)}")
    print("Amostra da Tabela Fato 'fato_notas':")
    display(fato_notas.head())

    print("\nInformações da 'fato_notas':")
    fato_notas.info()

except Exception as e:
    print(f"\n--- ERRO ao criar a fato_notas ---")
    print(f"Erro: {e}")
    print("Verifique se 'df_enem_presentes', 'dim_aluno' e 'dim_localizacao' existem.")

Modelagem final: Criando a 'fato_notas' (Centro da Estrela)...
(Este passo pode demorar alguns minutos, pois está juntando as tabelas)
Join das chaves estrangeiras concluído.

--- SUCESSO! 'fato_notas' criada. ---
Total de fatos (notas de alunos): 2585115
Amostra da Tabela Fato 'fato_notas':

,ID_Fato,ID_Aluno,ID_Local,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,1,1,1,502.0,498.9,475.6,363.2,700.0
1,2,2,2,459.0,508.5,507.2,466.7,880.0
2,3,3,3,402.5,379.2,446.9,338.3,560.0
3,4,4,4,564.7,630.3,610.4,680.2,600.0
4,5,5,5,644.9,620.2,626.9,736.3,860.0

Informações da 'fato_notas':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2585115 entries, 0 to 2585114
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   ID_Fato          int64
 1   ID_Aluno         int64
 2   ID_Local         int64
 3   NU_NOTA_CN       float64
 4   NU_NOTA_CH       float64
 5   NU_NOTA_LC       float64
 6   NU_NOTA_MT       float64
 7   NU_NOTA_REDACAO  float64
dtypes: float64(5), int64(3)
memory usage: 157.8 MB